$primary-color:#fff;
$secundary-color:#000;
$bc-color: #fc1e8a;
$bc-color-dg: linear-gradient(325deg, #03001e 0%, #7303c0 30%, #ec38bc 70%, #fdeff9 100%);
$color-focus: #ec38bc;
$bc-focus: #262809;
$bc-item-aft: #404040;
